[submodule "rocq"]
	path = rocq
	url = git@github.com:rocq-prover/rocq.git
[submodule "stdlib"]
	path = stdlib
	url = git@github.com:rocq-prover/stdlib.git
[submodule "coq-lsp"]
	path = coq-lsp
	url = git@github.com:ejgallego/coq-lsp.git
[submodule "coq-waterproof"]
	path = coq-waterproof
	url = git@github.com:impermeable/coq-waterproof.git
[submodule "waterproof-exercises"]
	path = waterproof-exercises
	url = git@gitlab.tue.nl:impermeable/waterproof-exercises.git
